In [1]:
import numpy as np
import pandas as pd

In [2]:
all_year_movies=pd.read_csv('data/all_year_movies.csv')
movies_2016=pd.read_csv('data/2016_movies.csv')
movies_2017=pd.read_csv('data/2017_movies.csv')
movies_2019=pd.read_csv('data/2019_movies.csv')

### Droping unnecessary columns

In [3]:
all_year_movies=all_year_movies.drop(columns=['Unnamed: 0','Producer','Music composer'])

In [4]:
movies_2016=movies_2016.drop(columns=['Unnamed: 0','Release date'])

In [5]:
movies_2017=movies_2017.drop(columns=['Unnamed: 0','Release date (A.D)',"Release Date (B.S)"])

In [6]:
movies_2019=movies_2019.drop(columns=['Unnamed: 0']	)

### droping row if all value are nan

In [7]:
all_year_movies=all_year_movies.dropna(how='all')
movies_2016=movies_2016.dropna(how='all')
movies_2017=movies_2017.dropna(how='all')
movies_2019=movies_2019.dropna(how='all')

### Renaming columns name

In [8]:
all_year_movies=all_year_movies.rename(columns={'Artist':'Cast'})

In [9]:
movies_2019=movies_2019.rename(columns={'Title':'Film'})

In [10]:
movies_2016['Year']=2016
movies_2017['Year']=2017
movies_2019['Year']=2019

### Joining tables

In [11]:
all_year_movies.shape

(452, 4)

In [12]:
all_year_movies.tail(3)

,Year,Film,Cast,Director
464,2020,LAPPAN CHHAPPAN,"Saugat Malla, Arpan Thapa, Anoop Bikram Shahi",Mukunda Bhatta
465,2020,Hero Returns (नायक भाग २),"Sabin Shrestha, Rekha Thapa, Dil Shrestha",Ashish Bhetwal
466,2023,Jaari (film),"Dayahang Rai,Miruna Magar,Bijay Baral",Upendra Subba

In [13]:
final_df=pd.concat([all_year_movies, movies_2016,movies_2017,movies_2019], axis=0,ignore_index=True)

In [14]:
final_df.to_csv('data/merged_data.csv')