In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
df=pd.read_csv('data/cleaned_data.csv')

In [5]:
df[df["Title"].str.lower() == 'aama'].index[0]

0

In [6]:
df=df.drop(columns=['Unnamed: 0','cast_no','Movie_id','poster_url'])

In [7]:
df.head(3)

,Title,Year,Genre,Director,Cast
0,Aama,1964,"Action, Drama",Hira Singh Khatri,"Shiva Shankar, Bhubhan Chand, Bhim Bahadur, Ba..."
1,Maitighar,1966,"Drama, Musical",B.S. Thapa,"Mala Sinha, Chidambar Prasad Lohani, Tika Bhus..."
2,Hijo Aaja Bholi,1968,Drama,Hira Singh Khatri,"Basundhara Bhusal, Bhubhan Chand, Shreedhar Kh..."

In [8]:
df['Title']=df['Title'].str.lower()
df['Genre']=df['Genre'].str.lower()
df['Director']=df['Director'].str.lower()
df['Cast']=df['Cast'].str.lower()

In [9]:
df["Cast"] = df["Cast"].str.replace(',', '')
df['Genre']=df['Genre'].str.replace(',', '')

In [10]:
df["combined"] = df["Genre"] + " " + df["Cast"] + " "+ df["Title"]+ " " + df["Director"] + " " + df['Year'].astype(str)

In [11]:
df

,Title,Year,Genre,Director,Cast,combined
0,aama,1964,action drama,hira singh khatri,shiva shankar bhubhan chand bhim bahadur basun...,action drama shiva shankar bhubhan chand bhim ...
1,maitighar,1966,drama musical,b.s. thapa,mala sinha chidambar prasad lohani tika bhusha...,drama musical mala sinha chidambar prasad loha...
2,hijo aaja bholi,1968,drama,hira singh khatri,basundhara bhusal bhubhan chand shreedhar khan...,drama basundhara bhusal bhubhan chand shreedha...
3,parivartan,1971,drama,hira singh khatri,yagya nath ghimire rita thapa neer bikram shah...,drama yagya nath ghimire rita thapa neer bikra...
4,man ko bandh,1973,drama,prakash thapa,salyan k.c. sushma shahi neer bikram shah basu...,drama salyan k.c. sushma shahi neer bikram sha...
...,...,...,...,...,...,...
540,bulaki,2023,drama,laxman sunar,topendra bista naren khadka surakshya panta,drama topendra bista naren khadka surakshya pa...
541,nabin: the rise,2023,action,santosh sen,nabin luhagun priyanka karki najir hussain pra...,action nabin luhagun priyanka karki najir huss...
542,timro mero sath,2023,drama romance,ramesh mk poudel,sandip chhetri dipisha kc puspa khadka saroj k...,drama romance sandip chhetri dipisha kc puspa ...
543,pradeshi 2,2023,drama family,narayan rayamajhi,barsha siwakoti keki adhikari prakash saput,drama family barsha siwakoti keki adhikari pra...
544,lau kumude hidyo hero banna,2024,drama,kumud pant,kumud pant janaki pant,drama kumud pant janaki pant lau kumude hidyo ...

In [12]:


cv = CountVectorizer()
count_matrix = cv.fit_transform(df['combined'])
# creating a similarity score matrix
similarity = cosine_similarity(count_matrix)

In [14]:
count_matrix.toarray().shape

(545, 1998)

In [15]:
np.save('similarity_matrix.npy', similarity)

#### unique word or  no of feature = 1998

In [16]:
# similarity[0]

In [17]:
def recommend_movies(movie_title, cosine_sim=similarity):
    idx = df[df["Title"].str.lower() == movie_title.lower()].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]  # Top 10 similar movies (excluding itself)
    movie_indices = [i[0] for i in sim_scores]
    recommended_movies=df["Title"].iloc[movie_indices]
    print(f"Recommended movies for '{movie_to_recommend}':")
    print(recommended_movies)
    # return recommended_movies

In [18]:
# Test the recommendation system
movie_to_recommend = "aama"
recommend_movies(movie_to_recommend)

Recommended movies for 'aama':
2      hijo aaja bholi
40            mahamaya
3           parivartan
347        shatru gate
25           kanyadaan
292           kaifiyat
34             adhikar
7              sindoor
60              afanta
71        maya baiguni
Name: Title, dtype: object

In [19]:
recommend_movies('kabaddi 4')

Recommended movies for 'aama':
228            kabaddi kabaddi
194                    kabaddi
263               purano dunga
503                    ram ram
405    kabaddi kabaddi kabaddi
288                      fanko
489           michael adhikari
357                 mr. jholay
415                      saili
294                  how funny
Name: Title, dtype: object

In [144]:
df['Genre'].unique()

array(['Action Drama', 'Drama Musical', 'Drama', 'Comedy Drama Mystery',
       'Action Adventure', 'Drama Romance', 'Drama Musical Romance',
       'Action Drama War', 'Comedy', 'Action Comedy Drama', 'drama',
       'Romance', 'History Romance', 'Action', 'Drama History',
       'Biography Drama', 'Action Comedy', 'Comedy Drama',
       'History Musical Romance', 'Drama Horror Mystery',
       'Action Musical Romance', 'Musical Romance', 'Adventure',
       'Drama Horror', 'Comedy Romance', 'Biography', 'History',
       'Animation Action Crime', 'Fantasy', 'Family',
       'Biography Drama Music', 'Horror', 'Musical',
       'Crime Drama Thriller', 'Action Thriller', 'Thriller',
       'Comedy Drama Romance', 'Crime Drama', 'Crime',
       'Comedy Drama Music', 'Drama Family', 'Drama Mystery Romance',
       'Action Crime Thriller', 'Action Drama History',
       'Crime Drama Mystery', 'Horror Mystery Thriller', 'Drama Thriller',
       'Romance Comedy', 'Animation Adventure Drama', 'Adventure Drama',
       'Animation Biography Drama', 'Comedy Drama Family',
       'Action Comedy Romance', 'Comedy Drama Sci-Fi',
       'Drama Family Romance', 'Comedy Crime', 'Action Drama Thriller',
       'Drama Action', 'Crime Mystery Thriller', 'Drama Mystery',
       'Action Crime Drama', 'Action Crime Romance', 'Biography Romance',
       'Crime Romance', 'Drama Sport', 'Action Drama Romance',
       'Comedy Horror Romance', 'Adventure Drama Thriller',
       'Crime Thriller', 'Action Crime', 'Action Romance',
       'Crime Drama Romance', 'Mystery', 'Action History War',
       'Drama War', 'Drama Horror Thriller', 'Biography Drama History'],
      dtype=object)