In [44]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
df=pd.read_csv('data/cleaned_data.csv')

In [46]:
df=df.drop(columns=['Unnamed: 0','cast_no','Movie_id','poster_url'])

In [47]:
df.head(3)

,Title,Year,Genre,Director,Cast
0,aama,1964,"action, drama",hira singh khatri,"shiva shankar, bhubhan chand, bhim bahadur, ba..."
1,maitighar,1966,"drama, musical",b.s. thapa,"mala sinha, chidambar prasad lohani, tika bhus..."
2,hijo aaja bholi,1968,drama,hira singh khatri,"basundhara bhusal, bhubhan chand, shreedhar kh..."

In [48]:
df["Cast"] = df["Cast"].str.replace(',', '')
df['Genre']=df['Genre'].str.replace(',', '')

In [49]:
df["combined"] = df["Genre"] + ", " + df["Cast"] + ", " + df["Director"] + ", " + df["Title"]+ ", "+ df['Year'].astype(str)

In [50]:
df

,Title,Year,Genre,Director,Cast,combined
0,aama,1964,action drama,hira singh khatri,shiva shankar bhubhan chand bhim bahadur basun...,"action drama, shiva shankar bhubhan chand bhim..."
1,maitighar,1966,drama musical,b.s. thapa,mala sinha chidambar prasad lohani tika bhusha...,"drama musical, mala sinha chidambar prasad loh..."
2,hijo aaja bholi,1968,drama,hira singh khatri,basundhara bhusal bhubhan chand shreedhar khan...,"drama, basundhara bhusal bhubhan chand shreedh..."
3,parivartan,1971,drama,hira singh khatri,yagya nath ghimire rita thapa neer bikram shah...,"drama, yagya nath ghimire rita thapa neer bikr..."
4,man ko bandh,1973,drama,prakash thapa,salyan k.c. sushma shahi neer bikram shah basu...,"drama, salyan k.c. sushma shahi neer bikram sh..."
...,...,...,...,...,...,...
542,nabin: the rise,2023,action,santosh sen,nabin luhagun priyanka karki najir hussain pra...,"action, nabin luhagun priyanka karki najir hus..."
543,timro mero sath,2023,drama romance,ramesh mk poudel,sandip chhetri dipisha kc puspa khadka saroj k...,"drama romance, sandip chhetri dipisha kc puspa..."
544,pradeshi 2,2023,drama family,narayan rayamajhi,barsha siwakoti keki adhikari prakash saput,"drama family, barsha siwakoti keki adhikari pr..."
545,lau kumude hidyo hero banna,2024,drama,kumud pant,kumud pant janaki pant,"drama, kumud pant janaki pant, kumud pant ..."
546,lalteen,2017,action drama,dev kumar shrestha,keki adhikari janak bartaula shishir bhandari ...,"action drama, keki adhikari janak bartaula shi..."

In [51]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
count_matrix = cv.fit_transform(df['combined'])
# creating a similarity score matrix
similarity = cosine_similarity(count_matrix)

In [52]:
import sklearn
sklearn.__version__

'1.3.2'

In [53]:
count_matrix.toarray().shape

(547, 2026)

In [54]:
np.save('similarity_matrix.npy', similarity)

#### unique word or  no of feature = 2026

In [55]:
# similarity[0]

In [56]:
def recommend_movies(movie_title, cosine_sim=similarity):
    idx = df[df["Title"] == movie_title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]  # Top 10 similar movies (excluding itself)
    movie_indices = [i[0] for i in sim_scores]
    recommended_movies=df["Title"].iloc[movie_indices]
    print(f"Recommended movies for '{movie_to_recommend}':")
    print(recommended_movies)
    # return recommended_movies

In [57]:
# Test the recommendation system
movie_to_recommend = "aama"
recommend_movies(movie_to_recommend)

Recommended movies for 'aama':
2      hijo aaja bholi
40            mahamaya
3           parivartan
348        shatru gate
25           kanyadaan
294           kaifiyat
34             adhikar
7              sindoor
60              afanta
72        maya baiguni
Name: Title, dtype: object

In [58]:
recommend_movies('kabaddi 4')

Recommended movies for 'aama':
230            kabaddi kabaddi
196                    kabaddi
265               purano dunga
504                    ram ram
406    kabaddi kabaddi kabaddi
290                      fanko
490           michael adhikari
358                 mr. jholay
416                      saili
296                  how funny
Name: Title, dtype: object